@media screen, projection {
  body {
    font-family: sans-serif;
    background-color: #f1f5f8;
    margin: 0;
    padding: 0;
    font-size: calc(0.4em + 0.8vw);
  }

  .panelDummy {
    height: 100vh;
  }

  .page {
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
  }

  .panel {
    margin: 1.14em 0;
    padding: 0.45em 1.2em 1.35em 1.2em;
    background-color: white;
    border: #e4e8eb solid 0.1em;
    border-radius: 0.15em/.15em;
  }

  .header {
    padding-top: .5em;
    margin: 2.25em 0 1.95em 0;
    font-size: 130%;
    font-weight: bold;
    color: #787e8a;
    width: 100%;
    border-bottom: 0.1em solid #e4e8eb;
    line-height: 0.1em;
  }

  .header p {
    display: inline;
    border-left: #e4e8eb solid 0.3em;
    padding: 0.5em 1em 0.7em 0.7em;
    background: #f1f5f8;
  }

  .section {
    margin: 0;
    font-weight: bold;
    padding: 1.2em 0 0.75em 0;
    font-size: 1em;
  }

  .actions {
    color: black;
    font-weight: bold;
    flex-direction: column;
  }

  .buttons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .buttons input {
    font-size: 1em;
    font-weight: normal;
    padding: 0.7em 1.5em;
    color: white;
    background-color: #4a74fe;
    border-radius: 0.2em/.2em;
    border: none;
  }

  .table {
    display: table;
    width: 100%;
  }

  .table div {
    font-size: 0.9em;
    color: black;
    padding: 1.4em 0.5em 1.2em 1.4em;
  }

  .tableRow {
    display: table-row;
  }

  .tableRow .buttons {
    font-size: 1em;
    color: white;
    padding: 0;
    width: 10%;
  }

  .tableRow .buttons input {
    color: white;
    background-color: #4a74fe;
    border-radius: 0.2em/.2em;
    border: none;
    padding: 0.3em 0.7em;
  }

  .tableRow div {
    display: table-cell;
    border-bottom: 0.1em solid #e4e8eb;
    white-space: nowrap;
  }

  .tableRow div:nth-child(2) {
    color: #2a45b7;
  }

  .tableRow:first-child {
    font-weight: bold;
    border: 0.1em solid #e4e8eb;
    background-color: #f1f5f8;
  }

  .tableRow:first-child div {
    padding-bottom: 1.2em;
    color: #787e8a;
    font-size: 1em;
  }

  .tableRow div:nth-child(4) {
    white-space: normal;
  }

  input[type="button"] {
    cursor: pointer;
  }

  .hidden {
    /*visibility: hidden;*/
    overflow: hidden;
    height: 0;
    transition: all 1s cubic-bezier(0, 1, 0.5, 1);
  }

  .visible {
    /*visibility: visible;*/
    height: 100vh;
    transition: all 1s cubic-bezier(0, 1, 0.5, 1);
  }

  .enabled {
    display: block;
  }

  .disabled {
    display: none;
  }
}

@media (max-aspect-ratio: 1/1) {
  body {
    font-size: 3.4vw;
  }

  .header {
    padding-top: 0.2em;
    margin: 1em 0;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .table div {
    padding: 0.5em;
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    width: auto;
    border: 0.1em solid #e4e8eb;
    border-radius: 0.2em/.2em;
    padding: 0.2em;
    margin: 0.2em;
  }

  .tableRow:first-child {
    display: none;
  }

  .tableRow .buttons {
    /*white-space: normal;*/
    width: auto;
    font-size: 0.9em;
  }

  .buttons input {
    font-size: 1em;
    font-weight: normal;
    padding: 0.2em 0.4em;
    color: white;
    background-color: #4a74fe;
    border-radius: 0.2em/.2em;
    border: none;
  }

  .tableRow .buttons input {
    padding: 0.2em 0.4em;
  }

  .tableRow div {
    padding: 0;
    border: none;
    white-space: nowrap;
    max-width: 15em;
  }

  .tableRow div:nth-child(4) {
    display: inline-flex;
  }

  .tableRow div:before {
    content: attr(data-header);
    color: black;
    background-color: #f1f5f8;
    text-align: right;
    display: inline-block;
    margin-right: 0.5em;
    min-width: 5.2em;
    white-space: nowrap;
    line-height: 2em;
  }

  .tableRow div:nth-child(4):before {
    /*line-height: 1.25em;*/
  }

  .page {
    margin: 0 0.5em;
    display: flex;
    flex-direction: column;
  }

  .panel {
    margin: 0.5em 0;
    padding: 0.2em 0.5em 0.5em 0.5em;
    background-color: white;
    border: #e4e8eb solid 0.1em;
    border-radius: 0.15em/.15em;
  }

  .section {
    margin: 0;
    font-weight: bold;
    padding: 0.5em 0 0.2em 0;
    font-size: 1em;
  }
}
