@media screen, projection {
  body {
    font-family: sans-serif;
    background-color: #f1f5f8;
    margin: 0;
    padding: 0;
    font-size: calc(0.4em + 0.8vw);
  }

  .panelDummy {
    height: 100vh;
  }

  .page {
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
  }

  .panel {
    margin: 1.2em 0 1em 0;
    padding: 0.45em 1.2em 1.5em 1.2em;
    background-color: white;
    border: #e4e8eb solid 0.1em;
    border-radius: 0.15em/.15em;
  }

  .header {
    padding-top: .5em;
    margin: 2.25em 0 1.95em 0;
    font-size: 130%;
    font-weight: bold;
    color: #787e8a;
    width: 100%;
    border-bottom: 0.1em solid #e4e8eb;
    line-height: 0.1em;
  }

  .header p {
    display: inline;
    border-left: #e4e8eb solid 0.3em;
    padding: 0.5em 1em 0.7em 0.7em;
    background: #f1f5f8;
  }

  .section {
    margin: 0;
    font-weight: bold;
    padding: 1.2em 0 0.6em 0;
    font-size: 1em;
  }

  .actions {
    color: black;
    font-weight: bold;
    flex-direction: column;
  }

  .buttons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .buttons input {
    font-size: 1em;
    font-weight: normal;
    padding: 0.7em 1.5em;
    color: white;
    background-color: #4a74fe;
    border-radius: 0.2em/.2em;
    border: none;
  }

  .table {
    display: table;
    width: 100%;
  }

  .table div {
    font-size: 0.9em;
    color: black;
    padding: 1.7em 0.5em 1.6em 1.4em;
  }

  .tableRow {
    display: table-row;
  }

  .tableRow .buttons {
    font-size: 1em;
    color: white;
    padding: 0;
    width: 10%;
  }

  /** override hardcoded style in form fields with autocomplete in chrome*/
  input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }

  .tableRow div {
    display: table-cell;
    border-bottom: 0.1em solid #e4e8eb;
    white-space: nowrap;
  }

  .tableRow .buttons input {
    color: white;
    background-color: #4a74fe;
    border-radius: 0.2em/.2em;
    border: none;
    padding: 0.3em 0.7em;
  }

  input[type="button"] {
    cursor: pointer;
  }

  .addEditInvoice-form {
    padding: .2em;
  }

  .addEditInvoice-form__input__invoiceNumber,
  .addEditInvoice-form__input__invoiceDate,
  .addEditInvoice-form__input__supplyDate,
  .addEditInvoice-form__input__date,
  .addEditInvoice-form__input__comment {
    font-family: sans-serif;
    font-size: 100%;
    border: #e4e8eb solid 0.1em;
    border-radius: .2em/.2em;
    margin: .75em 2em 2.5em 0;
    padding-left: .3em;
    line-height: 1.5em;
    letter-spacing: 0;
    vertical-align: top;
    color: black;
    background-color: white;
    caret-color: black;
  }

  .addEditInvoice-form__input__invoiceDate,
  .addEditInvoice-form__input__supplyDate {
    width: 8.7em;
  }

  .addEditInvoice-form__input__comment {
    margin-bottom: 0;
  }

  .addEditInvoice-form__input__explanation {
    font-size: 80%;
    display: block;
    color: #787e8a;
    margin: .5em 0 1.5em 0;
    text-align: center;
  }

  input[type="number"] {
    margin-bottom: 0;
    width: 4.5em;
  }

  .error-input {
    border: red solid 0.1em;
  }

  .addEditInvoice-form__message__error {
    color: red;
    text-align: right;
    margin-top: 1em;
  }

  .tableRow div:nth-child(2) {
    color: #2a45b7;
  }

  .tableRow:first-child {
    font-weight: bold;
    border: 0.1em solid #e4e8eb;
    background-color: #f1f5f8;
  }

  .tableRow:first-child div {
    padding-bottom: 1.3em;
    color: #787e8a;
    font-size: 1em;
  }

  .tableRow div:nth-child(4) {
    white-space: normal;
  }

  .addEditInvoice-form__input__invoiceNumber__prefix {
    font-size: 100%;
    display: inline-block;
    margin-top: .85em;
    line-height: 1.5em;
  }


  textarea {
    width: calc(100% - .5em);
  }

  .label {
    font-size: 1.1em;
  }

  .flex-break {
    flex-basis: 100%;
  }

  .addEditInvoice-form__wrapper {
    font-size: .9em;
    border: #e4e8eb solid 0.1em;
    padding: 1.2em;
    padding-top: 2.7em;
    margin-top: .9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .addEditInvoice-form__input__saveButton {
    font-size: .8em;
    font-weight: bold;
    padding: 0.7em 1.5em;
    margin-top: 1.5em;
    color: white;
    background-color: #4a74fe;
    border-radius: 0.2em/.2em;
    border: none;
    float: right;
  }

  .hidden {
    overflow: hidden;
    height: 0;
    transition: all 1s cubic-bezier(0, 1, 0.5, 1), font-size 1s cubic-bezier(0, 1, 0.5, 1);
  }

  .visible {
    height: 100vh;
    transition: all 1s cubic-bezier(0, 1, 0.5, 1), font-size 1s cubic-bezier(0, 1, 0.5, 1);
  }

  .enabled {
    display: block;
  }

  .disabled {
    display: none;
  }

  /**override hardcoded style in form fields with autocomplete in chrome*/
  @-webkit-keyframes autofill {
    to {
      background: transparent;
    }
  }
}

@media screen and (max-width: 720px), screen and (max-aspect-ratio: 3/4) {
  body {
    font-size: 3.37vw;
  }

  .header {
    padding-top: 0.2em;
    margin: 1em 0;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .table div {
    padding: 0.5em;
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    width: auto;
    border: 0.1em solid #e4e8eb;
    border-radius: 0.2em/.2em;
    padding: 0.2em;
    margin: 0.2em;
  }

  .tableRow:first-child {
    display: none;
  }

  .tableRow .buttons {
    /*white-space: normal;*/
    width: auto;
    font-size: 0.9em;
  }

  .buttons input {
    font-size: 1em;
    font-weight: normal;
    padding: 0.6em 0.8em;
    margin-top: 0.5em;
    color: white;
    background-color: #4a74fe;
    border-radius: 0.2em/.2em;
    border: none;
  }

  .tableRow .buttons input {
    padding: 0.4em .8em;
  }

  .tableRow div {
    padding: 0;
    border: none;
    white-space: nowrap;
    max-width: 15em;
  }

  .page {
    margin: 0 0.5em;
    display: flex;
    flex-direction: column;
  }

  .panel {
    margin: 0.5em 0;
    padding: 0.2em 0.5em 0.5em 0.5em;
    background-color: white;
    border: #e4e8eb solid 0.1em;
    border-radius: 0.15em/.15em;
  }

  .section {
    margin: 0;
    font-weight: bold;
    padding: 0.5em 0 0.2em 0;
    font-size: 1em;
  }

  .addEditInvoice-form__wrapper {
    flex-direction: column;
  }

  .label {
    font-size: 1.5em;
  }

  .addEditInvoice-form__input__invoiceNumber,
  .addEditInvoice-form__input__invoiceDate,
  .addEditInvoice-form__input__supplyDate,
  input[type="date"],
  .addEditInvoice-form__input__comment {
    font-family: sans-serif;
    font-size: 1em;
    margin: .5em 0 1.5em 0;
  }

  .addEditInvoice-form__input__invoiceDate,
  .addEditInvoice-form__input__supplyDate {
    width: 8em;
  }

  .addEditInvoice-form__input__comment {
    margin-bottom: .5em;
  }

  input[type="number"] {
    font-size: 1em;
  }

  .addEditInvoice-form__input__explanation {
    font-size: 80%;
    display: block;
    color: #787e8a;
    margin: 0 0 1.5em 1.5em;
    text-align: center;
  }

  textarea {
    margin-right: 0;
    width: calc(100% - .75em);
  }

  .addEditInvoice-form__input__saveButton {
    font-size: 120%;
    margin: 1em;
    float: none;
  }

  .addEditInvoice-form {
    text-align: center;
  }

  .addEditInvoice-form__message__error {
    text-align: center;
  }

  .addEditInvoice-form__input__invoiceNumber__prefix {
    font-size: 95%;
    line-height: 1em;
    margin-top: 1em;
  }
  .tableRow div:nth-child(4) {
    display: inline-flex;
  }

  .tableRow div:before {
    content: attr(data-header);
    color: black;
    background-color: #f1f5f8;
    text-align: right;
    display: inline-block;
    margin-right: 0.5em;
    min-width: 5.2em;
    white-space: nowrap;
    line-height: 2em;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 6.5vw; /* 2.32 */
  }

  .addEditInvoice-form__wrapper {
    padding: .5em
  }

  .addEditInvoice-form__input__invoiceNumber,
  .addEditInvoice-form__input__invoiceDate,
  .addEditInvoice-form__input__supplyDate,
  input[type="date"],
  input[type="number"],
  .addEditInvoice-form__input__comment {
    font-size: 80%;
  }

  .addEditInvoice-form__input__explanation {
    font-size: 60%;
  }
}


